.search-container {
  position: relative;
}

.search-input {
  padding-right: 40px;
  border-radius: 50px;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  background: url('https://cdn-icons-png.flaticon.com/512/54/54481.png') no-repeat center;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

#searchIcon {
  filter: invert(100%);
}

.hero {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport height */
    background: url('../../images/bkg/music1.jpg') no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
