form.d-flex .form-control {
  border-radius: 50px;
  background-color: #343a40; /* Dark background color */
  color: white; /* White text color */
  border: 1px solid #495057; /* Border color matching the theme */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}
form.d-flex .form-control::placeholder {
  color: #ced4da; /* Placeholder text color */
}
form.d-flex .btn-outline-light {
  background-color: #343a40; /* Dark background color */
  color: white; /* White text color */
  border-color: #495057; /* Border color */
}
form.d-flex .btn-outline-light:hover {
  background-color: #495057; /* Darker background color on hover */
  border-color: #6c757d; /* Border color on hover */
}

.hero {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport height */
    background: url('../../images/bkg/music1.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
