{% extends "base.html" %}
{% block content %}
<section class="hero">
	<!-- container -->
	<div class="container py-lg-16">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-lg-7 mb-6 mb-lg-0">
				<!-- heading -->
				<h5 class="text-light mb-4"><i
						class="fe fe-check icon-xxs icon-shape bg-light-success text-success rounded-circle me-2"></i>Music for Healing</h5>
				<!-- heading -->
				<h1 class="text-light display-3 fw-bold mb-3">Your corner on the internet to decompress & listen</h1>
				<!-- para -->
				<p class="text-light pe-lg-10 mb-5">Start by listening to our top 3 selections for today.</p>
				<!-- btn -->
				<a href="#" class="btn btn-primary">Join Free Now</a>
			</div>
		</div>
	</div>
</section>
{% endblock content %}